<div>
  <h1 class="app-header">Tervetuloa opiskelemaan Web-devausta!</h1>
  <h2 class="app-title"><u>"Tähän tulostetaan komponenttiin määritetty otsikko"</u> {{title}}</h2>
  <h3 class="app-message">{{message}}</h3>
  <p id="app-main">Tässä esimerkissä kokeillaan muuttaa HTML DOM-puuta TypeScript:llä.</p>
  <p>Lisätään: painike, teksikenttä ja data binding (yksi- ja kaksisuuntainen) sekä css-tyylikirjasto</p>
  <button (click)="onButtonClick()">Napsauta minua!</button>
  <p><input [(ngModel)]="message"></p>
</div>
